# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/pictures/IMG_8806.jpg
src/pictures/IMG_3814.jpg
src/pictures/IMG_3739.jpg
src/pictures/IMG_3699.jpg
src/bike_routes/route1.png
src/bike_routes/route2.png
src/pages/bikings.jsx
